<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>卒業要件判定サイト</title>
    <style>
        * {
            margin: 0;
        }

        body {
            color: #333;
        }

        body > header {
            font-size: 40px;
            background-color: #000;
            color: #fff;
            padding: 10px 30px;
        }

        main {
            margin-top: 20px;
            padding: 0 30px;
        }

        main > h1 {
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <header>卒業要件判定サイト</header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>